@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; 
}

/* Header & Nav */
header {
    background-color: #e4deda;
    background-image: url(../style/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-top: 50px;
}

nav {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.logo h2 { font-size: 45px; font-weight: 800; }
.orange { color: #fa842f; }

.nav-bar {
    display: flex;
    list-style: none;
    gap: 51px;
}

.nav-bar a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

/* Hero Section */
#hero {
    width: 90%;
    max-width: 1140px;
    margin: 50px auto 0;
    padding-bottom: 50px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text h1 { font-size: 60px; }

.btn {
    background-color: #fa842f;
    border-radius: 10px;
    border: none;
    padding: 15px 35px;
    font-size: 18px; 
    color: #fff;     
    font-weight: bold;
    cursor: pointer; 
    transition: 0.3s;
}

.btn:hover { background-color: #442610; }

/* Section Heading */
.section-heading {
    text-align: center;
    margin-bottom: 50px;
}

.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* About Section */
#about { padding: 100px 0; }

.about-container {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #fff8f3;
    padding: 80px 50px;
    border-radius: 10px;
    text-align: center;
}
.text-aglin{
    text-align: center;
    position: bottom center;
}

.about-info-row {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

/* Skills Section */
#skills { padding: 100px 0; }

.skills-container {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
}

.skil-card {
    padding: 30px;
    background: #fff;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    transition: 0.3s;
}

.skil-card:hover { transform: translateY(-10px); }

.skil-card img { width: 50px; margin-bottom: 20px; }
.section-heading h2{
    font-size: large;
    font-weight: 600;
}
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px ;
}
.resume-container.section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;

}
.resume-card .card-title .card-info{
    font-size:20px ;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-title .card-text{
    font-size:16px ;
    line-height: 28px;
    /* margin-bottom: 20px; */
    color: #757575;
}
.resume-container hr{
margin: 30px 0;
}
footer{
    margin-top: 130px;
    background-color: #ffdcc4;
    padding: 130px 0;

}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}
.footer-container .social p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;

}
.footer-container.icon a{
margin-right: 24px;
}
.footer-container form input ,textarea{
width: 461px;
padding: 18px 31px;
margin-bottom: 24px;
border: none;
border-radius: 5px;
color: #757575;
}