@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; 
}

header{
    background-color:#fcceae;
    padding-top: 50px;
}

nav{
    width: 81%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.logo h2{
    font-size: 45px;
    font-weight: 800;
}

.orgrang{ 
    color: #fa842f;
}

nav .menu  {
    display: flex;
    list-style: none;
    
    
}
.nav-bar{
    display: flex;
    list-style: none;
    font-size: 20px;
    gap: 51px;
  

}

nav .nav-bar a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
    align-items: center;
}

.btn{
    align-items: center;
    background-color: #fa842f;
    border-radius: 10px;
    border: none;
    padding: 18px 35px;
    font-size: 20px; 
    color: #fff;     
    font-weight: bold;
    cursor: pointer; 
}
.btn:hover{
    background-color: #442610;
    transform: translateY(-2px);
}
nav .nav-bar a:hover{
    color: #fa842f;
}